@import "bootstrap-icons/font/bootstrap-icons.css";

:root{
    --main-color: #1F406E;;
    --black: #334; 
    --white: #fff;
    --light-bg: #D4EBF9; 
    --light-color: #666; 
    --light-white: rgba(255,255,255,.3);
    --bg-color: #F8F9FA; 
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.2);
    --active: #A5D9E4;
}

.buttonscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 5rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    text-align: center;
}

.btn i{
    margin-left: .5rem;
}

.btn:hover i{
    margin-top: .5rem;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    height: 100%; width: 0%;
    z-index: -1;
    background-color: var(--black);
    border-radius: 5rem;
    transition: .2s linear;
}

.btn:hover::before{
    left: 0;
    width: 100%;
}

.uploadcv{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(180deg, var(--light-bg), var(--white));
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.toggleBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: var(--white);
    color: #1B756B;
    border: 1px solid var(--main-color);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1100;
}

.sidebar {
    width: 270px;
    background-color: var(--main-color);
    color: var(--white);
    padding: 20px;
    box-shadow: var(--box-shadow);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    z-index: 1000;
    font-size: 2rem;    
}

.sidebar.hidden {
    transform: translateX(-100%);
    position: fixed;
    height: 100vh;
}

.sidebar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color:var(--white);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: var(--white);    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
    background-color: var(--active);
    color: #1F406E;
}

.sidebar nav ul li a i {
    margin-right: 15px;
    font-size: 2rem;
}


.mainContentUpload{
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.container{
    position: relative;
    width: 850px;
    height: 550px;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    margin: 20px;
    overflow: hidden;
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background:  var(--white);
    display: flex;
    align-items: center;
    color: var(--black);
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container h1{
    font-family: 'Serif';
    font-size: 36px;
    margin: -10px 0;
    color: var(--black);
}

.cv-upload-label i {
    font-size: 40px;
    color: var(--black);
    display: block;
    margin-bottom: 10px;
}

.input-box{
    position: relative;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    padding: 13px 50px 10px 20px;
    background: var(--bg-color);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--black);
    font-weight: 500;
}

.input-box input::placeholder{
    color: var(--light-color);
    font-weight: 400;
}

.toggle-box{
    position: absolute;
    width:100%;
    height: 100%;
}

.toggle-box::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: linear-gradient(180deg, #92B8E2 , var(--white));;
    border-radius: 150px;
    z-index: 2;    
    transition: 1.8s ease-in-out;
}

.container.active .toggle-box::before{
    left: 50%;
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s  ease-in-out;
}

.toggle-panel.toggle-left{
    left: 0;   
    transition-delay: 1.2s;
}

.container.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: .6s;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.welcomemessage {
  padding: 20px 25px 15px; 
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--light-bg);
  border-bottom: 1px solid #e2e6ea;
  margin-bottom: 20px;
}





@media (max-width:1280px){

    html{
        font-size: 55%;
        scroll-padding-top: 6.5rem;
    }

}

@media (max-width:650px){

    .container {
        width: 95%;
        margin: 20px auto;
        border-radius: 15px;
    }

    .toggle-panel {
        padding: 25px 15px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .toggle-panel h1 {
        font-size: 22px;
    }

    .form-box {
        padding: 20px;
    }

    .form-box h2 {
        font-size: 20px;
    }

    .input-box input {
        font-size: 13px;
        padding: 10px 35px 10px 12px;
    }

    .form-box .btn {
        padding: 8px 20px;
        font-size: 14px;
    }

    .form-box .social-login .icons i {
        font-size: 18px;
        padding: 6px;
    }
}